<!DOCTYPE html>
<html>
<head>
  <title>Scottish Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
<div class="banner">
  <img src="/images/animals_banner.jpg" />
  <h1>Scottish Animal Shelter</h1>
</div>

  <div class ="nav">
      <a class="nav-btn" href="/">Home</a>
      <a class ="nav-btn" href="/animals">Animals</a>
      <a class="nav-btn" href="/owners">Owners</a>
      <a class ="nav-btn" href="/adoptions/new">New Adoption</a>
  </div>

<%=yield%>

</body>
</html>