
.nav-btn{
  width: 130px;
  background-color: #E0E0E0;
  padding: 10px 20px;
  text-decoration: none;
  color: #616161;
  /*font-size: 0.8rem;*/
  border: none; 
  text-align: center;
}

.nav-btn:hover{
  border-bottom: solid 5px #79059E;
  padding: 10px 20px 5px 20px;
}

.filter-btn{
  text-decoration: none;
  padding: 3px;
  color: #616161; 
}

.filter-btn:hover{
  border-bottom: solid 3px #DB1D73;
  padding: 3px 3px 0px 3px;
}

.filter-highlight-btn{
  color: #DB1D73;
  padding: 3px;
  text-decoration: none;
}

.filter-highlight-btn:hover{
  padding: 3px 3px 0px 3px;
  border-bottom: solid 3px #DB1D73;
}

.view-btn{
  background-color: #DB1D73;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 10px 20px;
  align-self: center;
  margin: 10px;
}

.view-btn:hover{

}

.profile-btn{
  background-color: #DB1D73;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 10px 20px;
  align-self: center;
  margin: 20px 125px;

}

input[type="submit"]{
  border: none;
  background-color: #DB1D73;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 10px 20px;
  margin: 20px 125px;

}