.banner img{
  height: 100%;
  width: 100%;
  position: relaive;
}

.banner h1{
  
  font-family: 'Open Sans', sans-serif;
  top: 120px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 2rem;
  width: 30%;
  position: absolute;
  color: white;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #616161;
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headline{
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.headline p{
  padding: 10px;
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-left: 10px;

}

.filter a{
  text-decoration: none;
  color: #616161;
}

.filter .highlight a{
  color: #DB1D73;
}


.filter a:hover{
  border-bottom: solid 3px #DB1D73;
}

.info-list{
  display: flex;
  flex-direction: column;
}

.list-entry{
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  width: 50%;
  margin: 10px;
}

.info-container{
  width: 350px;
}

.img-container img{
  height: 100px;
  width: 100px;
  margin: 10px;
}

h1, h2, h3, h4, h5{
  margin-left: 20px;
  margin-top: 40px;
}

p{
  margin-left: 20px;
}

.list-entry .actions {
  color: red;
}