.banner img{
  height: 100%;
  width: 100%;
  position: relaive;
}

.banner h1{
  
  font-family: 'Open Sans', sans-serif;
  top: 120px;
  margin-left: 20px;
  font-size: 2rem;
  width: 30%;
  position: absolute;
  color: white;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #616161;
}

.nav{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 10px;
}

.nav a{
  background-color: #E0E0E0;
  padding: 10px 20px;
  text-decoration: none;
  color: #616161;
  font-size: 0.8rem;
  border: none; 
}

.nav a:hover{
  border-bottom: solid 5px #79059E;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headline{
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.headline p{
  padding: 10px;
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.filter a{
  text-decoration: none;
  color: #616161;
}

.filter a:hover{
  border-bottom: solid 3px #DB1D73;
}

h1, h2, h3, h4, h5, p{
  margin-left: 20px;
}

