.banner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.banner img{
  height: 100%;
  width: 100%;
  position: relative;
}

.banner h1{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  position: absolute;
  color: white;
  align-self: center;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #616161;
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headline{
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.headline p{
  padding: 10px;
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin-left: 10px;
  font-size: 1.15rem;
}

.filter .col{
  padding: 3px;
}


.info-list{
  display: flex;
  flex-direction: column;
}

.list-entry{
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  width: 60%;
  margin: 10px;
}

.info-container{
  width: 500px;
}

.img-container img{
  height: 100px;
  width: 100px;
  margin: 10px;
}

h1, h2, h3, h4, h5{
  margin-left: 20px;
  margin-top: 40px;
}

p{
  margin-left: 20px;
}

