.banner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.banner img{
  height: 100%;
  width: 100%;
  position: relative;
}

.banner h1{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  position: absolute;
  color: white;
  align-self: center;

}

body{
  font-family: 'Roboto', sans-serif;
  color: #616161;
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headline{
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.headline p{
  padding: 10px;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 1.15rem;
}

.filter .col{
  padding: 3px;
}


.info-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-entry{
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  width: 60%;
  margin: 10px;
}

.info-container{
  width: 500px;
}

.img-container img{
  height: 100px;
  width: 100px;
  margin: 10px;
}

h1, h2, h3, h4, h5{
  margin-left: 20px;
  margin-top: 40px;
}

p{
  margin-left: 20px;
}


.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img-container img{
  height: 250px;
  width: 350px;
  border: solid 12.5px #F5F5F5;
  margin: 0;
}

.profile-details{
  font-size: 1.25rem;
  background-color: #F5F5F5;
  margin: 0;
  width: 375px;
}

form{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px 10px 20px;

}

.form-row{
  flex-basis: auto;
  flex-direction: row;
  align-self: space-around;
  width: 400px;
}

.form-row label{
  display: flex;
  flex-direction: row;
  align-self: space-around;
  font-size: 1.25rem;
}

.form-row input{
  display: flex;
  flex-direction: row;
  align-self: space-around;
  font-size: 1.25rem;
  width: 400px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  color: #9e9a9a;
  background-color: #F5F5F5;
  border: none;
}

.form-row select{
  flex-basis: auto;
  width: 400px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  color: #9e9a9a;
  background-color: #F5F5F5;
  border: none;
}

