.banner{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.banner img{
  height: 100%;
  width: 100%;
  position: relative;
}

.banner h1{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  position: absolute;
  color: white;
  align-self: center;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #616161;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headline{
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.headline p{
  padding: 10px;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1, h2, h3, h4, h5{
  margin-left: 20px;
  margin-top: 40px;
}

p{
  margin-left: 20px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 85%;
  font-size: 1.25rem;
}

.stats-box{
  border: 2px solid #616161;
  width: 35px;
  height: 20px;
  text-align: center;
}

.staff-update li{
  margin-bottom: 20px;
  font-size: 1.25rem;
}





