<h1>Registered Owners</h1>
<p><a href="/owners/new">Add new owner</a></p>

<% @owners.each do |owner| %>
  <p>First Name: <%= owner.first_name%></p>
  <p>Last Name: <%= owner.last_name%></p>
  <p>Animals adopted: <%= owner.animals.count%></p>
  <p><a href="/owners/<%= owner.id%>">View profile</a></p>

<%end%>